.author_card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  flex: 1 1 250px; /* Permite que las tarjetas se ajusten automáticamente al tamaño del contenedor */
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author_card:hover {
  transform: translateY(-5px);
}

.author_card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.author_card p {
  font-size: 16px;
  color: #555;
}

.author_card img {
  width: 100%;
  height: 200px; /* Ajusta esta altura según sea necesario */
  object-fit: cover; /* Esto asegura que la imagen rellene el contenedor sin deformarse */
  border-radius: 8px 8px 0 0; /* Opcional: para redondear solo la parte superior de la imagen */
  margin-bottom: 15px;
}


 
 