.search {
    border:1px solid rgb(0, 0, 0);
    padding: 20px 60px;
    margin: 40px; 
    max-width:100%;
    text-align: left;
    background-color:white;
    border-radius: 6px;  
}

img {

    width:100%;
}

.createButton{
    width:100%;
    margin: 40px auto; 
}

.newentry label {

    font-weight: 500;
}